---
export const prerender = false;

import AuthForm from '@/components/AuthForm';
import Layout from '@/layouts/Layout.astro';
import { config } from '@/utils/config';
---

<Layout title={`Register - ${config.appName}`}>
  <main class="min-h-screen flex items-center justify-center bg-bg-app p-4">
    <AuthForm mode="register" client:load />
  </main>
</Layout>
